<div class="columns">
  
    <h3 class="title is-1">All Users</h3>
    <table class="table table-striped">
    <thead>
      <tr>
     
        <th>users</th>
        
        
      </tr>
    </thead>
  
    <tbody>
    <% User.all.each do |user| %>
        <% if current_user.id != user.id  %>
            <tr>
            <td><%= link_to "Message #{user.full_name}", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post" %></td>
            
            </tr>
           <% end %>
    <% end %>
  </tbody>
  
  
  </table>
  </div>
  